
nav {
height: 300px;
border: 2px solid clear;
float: left;
padding: 8px;
font-family: cursive;
}

ul {
font-family: Cursive;
font-size: 18px;
color: pink;
text-decoration: none;
list-style-type: none;
}

a {
text-decoration: none;
}

a:link {
color: #FF6666;
}
a:visited {
color: #FFFF99;
}

a:hover {
color: #00CC99;
}


body {
background-image: url("images/flower1.jpg");
background-repeat: no-repeat;
background-position: center, absolute, fixed;
background-size: 100%;
background-color: gray;
min-width: 100%;
min-height: 100%;
z-index:0;
}
@font-face
{
font-family: myFirstFont;
src: url("fonts/GreatVibes-Regular.ttf");
}

h1, h2 {
text-align: center;
font-family: myFirstFont;
font-size: 50px;
font-weight: 200;
color: #FF6666;
}

img {
position: absolute,center;
padding: 100px;
margin-top: 0%;
margin-left: 25%;
 
}

p {
font-family: myFirstFont;
position: absolute, center;
font-size: 35px;
margin-left: 26%;
padding: 10px;
}

.boxed {
border: 5px outset #00CC99;
width: 50%;
margin-left:28%;
}


span {
margin-left:20%;
}

footer {
text-align:center;
font-size: 10px;
position: fixed;
bottom:0;
margin-left: 40%;
z-index:9999;
}

form {
display:table;
position: relative, center;
border: 2px;
padding: 20px;
text-align: center;
margin-left: 30%;
}

# submit {
color:blue;
}

article {
padding: 10px;
display:table;
margin-left: 20%;
}

div {
display: block;
}

# rsvp {
margin-left: 18%;
}

input {
border-radius: 5px;
}
 


